html,body{
    height: 100%;
    width: 100%;
}

.top-article{
    display: grid;
    width: inherit;
    height: inherit;
    align-content: center;
    align-items: center;
}

.upper-container{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 300px auto;
    justify-content: center;
    gap: 15px;
}

.left-container{
    width: 300px;
    display: grid;
    align-content : space-between;
    height: 400px;
    

}

.right-container{
    
    width: 550px;
    height: 700px;
}

.left-images{
    height: 50px;
    width: 50px;
}


.left-button-container{
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 50px auto;
    font-size: 20px;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

.img-text-container{
    overflow: hidden;
    max-width: 230px;
    max-height: 60px;
}

.img-displayer{
    height: 90%;
    width: 100%;
}

.right-image{
    height: 100%;
    width: 100%;
}

#caption{
    width: 99%;
    resize:none;
    height: 100%;
    border:none;
    text-align: center;
    font-size: 20px;
    color : grey
}

.left-buttons{
    background-color: white;
    border: none;
    border-radius: 5px;
}

.left-buttons:focus{
    background: #0AA1DD;
}
